body{
	background-color: #eee;
    font-family: "Times New Roman", Times, serif;
    height: 100%;
}
html, body {
    margin: 0;
    height: 100%;
}

.navStyle{
	/*background-color: white!important;*/
}

.navStyle li,a{
	/*color: black!important;*/
	/*font-weight: bold!important;*/
    
}

.ml-auto {
    /*margin: 0;*/
}
.navStyle ul {
    /*margin-right: 12%;*/
}
nav {
    margin-bottom: 3%;
}
nav li{
	/*margin-right: 0% !important;*/
}

nav a.nav-link:hover {
    color: white !important;
}

.searchJob{
	margin-top: 5%;
}

.searchJob input{
	margin-right: -5px;
}

.searchJob button{
	background-color: #094480;
}

.containerPost{
	background-color: #094480;
	margin-top: 4%;
	padding: 2%;
}

.containerPost h3{
	color: white;
}

.postJob {
	background-color: white;
	padding: 2%;
}

.dJob{
	margin-left: 3%;
}

.dJob i{
	color: #bbb8b8!important;
}

.dJob span {
	color: #1093c5;
}
.dJob button{
	border: 1px solid #1093c5;
	color: #bbb8b8;
}

.postJob:nth-child(even){
	border-right: 2px solid #bbb8b8;
	border-bottom: 2px solid #bbb8b8;
	border-left: 6px solid #094480;
}

.postJob:nth-child(odd){
	border-right: 2px solid #bbb8b8;
	border-bottom: 2px solid #bbb8b8;
	border-left: 6px solid #86b7d4;
}

footer {
	margin-top: 5%;
	padding: 3%;
	background-color: #094480;
}

footer ul{
    list-style-type: none;
}

footer li{
	padding: 1%;
}

footer a,i,li {
    color: white!important;
    margin-right: 3%;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

.modal-header h4{
	color: #094480;
}

.modal-header a{
	color: #094480!important;
}
.modal-content li {
	color: black!important;
}

.modal-content ul {
	margin-top: 3%;
    list-style-type: none;	
}

.modal-content i{
	color: #bbb8b8!important;
} 

.modal-content span{
    color: #1093c5!important;
} 

.modal-content button{
	border: 1px solid #1093c5;
	color: #bbb8b8;
}


