@model IEnumerable<PostPita.Models.Notification>

@{
    ViewData["Title"] = "Notifications";
    Layout = "_Layout2";
}

<div class="pt-5" id="v-pills-employee-rating">
    <div class="row px-5 mb-4">
        <h2 style="text-transform: uppercase;font-family: Montserrat;font-weight: bold;color: rgb(1, 86, 143);">
            Notifications
        </h2>
    </div>
    <div class="row px-5">
        <table class="table mb-5">
            <thead>
                <tr>
                    <th scope="col" class="employeeRatingHead">Title</th>
                    <th scope="col" class="employeeRatingHead">Content</th>
                    <th scope="col" class="employeeRatingHead">Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><span class="fullName">@Html.DisplayFor(modelItem => item.Title)</span></td>
                        <td><span class="idNumber">@Html.DisplayFor(modelItem => item.Content)</span></td>
                        <td><span class="gpa">@Html.DisplayFor(modelItem => item.Time)</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
